* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 200vh; 
  font-family: sans-serif;
  color: white;
}

.sticky-section {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.objects {
  position: relative;
  width: 300px;
  height: 500px; /* was 300px */
}

.item {
  position: absolute;
  width: 80px;
  transition: transform 0.1s linear;
}

.pencil {
  left: 0;
  top: 0px; /* very top */
}

.paperball {
  left: 110px;
  top: 420px; /* very bottom */
}

.paperclip {
  left: 220px;
  top: 200px; /* middle-ish */
}